{% extends "spot-auth/base.html" %}


{% block mycss %}  

	{% load staticfiles %}
	<style type="text/css">
		body { 
	  background: url('static/img/cover1.png') no-repeat center center fixed, linear-gradient(90deg, rgba(25,20,20,1) 3%, rgba(29,185,84,1) 100%, rgba(7,153,46,1) 100%);
	  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  
	}


.btn-guest {
  color: white;
  background-color: #000000;

}
.btn-guest:hover{
  color: #1DB954;

}
.btn-spotify{
	color: white;
	background-color: #1DB954;
}

.file {
  visibility: hidden;
  position: absolute;
}
	</style>
{% endblock %}
{% block content %}
  <div class="float-left" style="margin-top: 3%;margin-left: 6%;color: white;font-family: 'Montserrat', sans-serif;">
    <h1>IBMR</h1>
  </div>
<!-- 	<form action="auth" method="GET">
		<button type="submit" class="btn btn-primary">Log in</button>	
	</form>	
	<button id="cam-mode" type="button" class="btn btn-success">Click</button>
	<button id="click" type="button" class="btn btn-success">Click</button> -->
	<!-- {% if image %} -->
	<img src="" id="user_image" style="display: none;">
	<!-- {% else %} -->
	<!-- {% endif %} -->

	<!-- <video id="video" autoplay></video> -->
	<!-- <div></div> -->
	<div id="photos"></div>
	<p id="detect" style="color: white;font-weight: bold;"></p>


<div class="card fixed-top col-sm-12" style="margin-left: 2%;margin-top: 25%;background-color: rgba(0,0,0,0);border: none;">

  <div class="card-body">
    <h2 class="card-title" style="font-family: 'Nunito', sans-serif;color: white;font-size: 28px">Pictures tell stories, and nothing adds more to a great story than great music to go along with it.</h5>
      <br>
    <p class="card-text" style="font-family: 'Montserrat', sans-serif;color: white;font-size: 18px;">Upload an image to receive song recommendations based on what story your picture tells. For more personalized recommendations from your own playlist, do log in to Spotify!</p>
    <br>
             <div>
    	    	  <form action="auth" method="GET" class="form-signin col-sm-5">

                  <button class="btn btn-lg btn-spotify btn-block text-uppercase" type="submit">Sign in with Spotify</button>
                  <!-- <hr class="my-4"> -->
            	</form><br>
      	    	<form action="guest" method="GET" class="form-signin col-sm-5">

                  <button class="btn btn-lg btn-guest btn-block text-uppercase" type="submit">Sign in as Guest</button>
              </form>
          </div>
  </div>
</div>

<!-- file upload -->
<!-- <form action="api" method="post" enctype="multipart/form-data">
	    <input type="file" name="myfile">
	    <button type="submit">Upload</button>
  	</form> -->
<div id="upload_img" style="display: none;">
<div class="ml-2 col-sm-6" >
  <div id="msg"></div>
  <form action="api" method="post" id="image-form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" id="userid_web" name="userid" value="" style="display: none;">

    <input type="file" name="myfile" class="file" accept="image/*">
    <div class="input-group my-3">
      <input type="text" class="form-control" disabled placeholder="Upload File" id="file">
      <div class="input-group-append">
        <button type="button" class="browse btn btn-spotify">Browse</button>
      </div>
    </div>

    <button class="btn btn-lg btn-guest btn-block" type="submit">Upload</button>

  </form>
</div>
<hr class="my-4">
<div class="ml-2 col-sm-6" style="height: 400">
  <img src="https://placehold.co/200x200/grey/white" id="preview" class="img-thumbnail">
</div>
</div>
<!-- <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              
              <button class="btn btn-lg btn-spotify btn-block text-uppercase" type="submit">Sign in with Spotify</button>
              <hr class="my-4">
              
              <button class="btn btn-lg btn-guest btn-block text-uppercase" type="submit">Sign in as Guest</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->



{% endblock content %}